<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
    <h2>test</h2>
  </h1>
  <div class="rte">
    {% if page.metafields.custom_fields["upload_asset"] != blank %}
  <div class="custom-field custom-field__upload-asset custom-field__type--file-repeater">
    <h3 class="custom-field--title">Upload asset</h3>
    <div class="custom-field--value">
      {% for item in page.metafields.custom_fields["upload_asset"] %}
        <div class="fc-repeater-field-item fc-repeater-field-item--{{ forloop.index0 }} field__upload-asset field-type--file">
           <h4 class="custom-field--title">Download</h4>
           <div class="custom-field--value">
             {{ item["upload_asset"] }}
           </div>
        </div>
       {% endfor %}
    </div>
  </div>
{% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.digital-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}