<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
    <h2>test</h2>
  </h1>
  <div class="rte">
{% if page.metafields.custom_fields["digital_assets"] != blank %}
{% assign data_attr = shop.metafields._cf_pages["digital_assets"].data_attr %}
<div class="cf-widget-digital-assets cf-widget__columns" {{ data_attr }}>
  <div class="cf-widget-items-wrapper">
    {% for item in page.metafields.custom_fields["digital_assets"] %}
    <div class="cf-widget-item">
      <div class="inner">
        
          {% if item.image != blank %}
          <div class="cf-widget-field cf-widget-field__image cf-widget-field--image">
            {% render "cf-image" with image: item.image, crop: "center", size: "380x380" %}
          </div>
          {% endif %}
        
          {% if item.title != blank %}
          <div class="cf-widget-field cf-widget-field__title cf-widget-field--text">
            {{ item.title }}
          </div>
          {% endif %}
        
          {% if item.body != blank %}
          <div class="cf-widget-field cf-widget-field__body cf-widget-field--html">
            {{ item.body }}
          </div>
          {% endif %}
        
          {% if item.dowload_asset != blank %}
          <div class="cf-widget-field cf-widget-field__dowload_asset cf-widget-field--field_collection_json">
            {{ item.dowload_asset }}
          </div>
          {% endif %}
        
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.digital-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}